<!DOCTYPE html>
<html>
<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

        body {
            margin: 0;
            background: radial-gradient(circle, #42275a, #000);
            background-size: 100% 100%;
        }

        .navbar {
            display: flex;
            justify-content: start;
            align-items: center;
            height: 80px;
            padding: 20px;
            box-sizing: border-box;
            background: linear-gradient(329deg, #734b6d, #42275a, #141e30);
            background-size: 600% 600%;
            animation: Gradient 15s ease infinite;
            overflow: hidden;
            position: relative;
        }

        .navbar:before, .navbar:after {
            content: "";
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            background: 
            url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMyIgaGVpZ2h0PSIzIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxjaXJjbGUgY3g9IjEuNSIgY3k9IjEuNSIgcj0iMS41Ij48L2NpcmNsZT4KPC9zdmc+Cg==) -50px -50px,
            url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSI2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxjaXJjbGUgY3g9IjMiIGN5PSIzIiByPSIzIj48L2NpcmNsZT4KPC9zdmc+Cg==) -100px -100px, 
            url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSI5IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxjaXJjbGUgY3g9IjQuNSIgY3k9IjQuNSIgcj0iNC41Ij48L2NpcmNsZT4KPC9zdmc+Cg==) -150px -150px;
            background-repeat: repeat;
            opacity: 0.5;
            z-index: 1;
            animation: stars 25s linear infinite, stars2 50s linear infinite, stars3 100s linear infinite;
        }

        /* updated shooting star */
        .shooting-star {
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            background: 
              url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2' height='2'%3E%3Cdefs%3E%3ClinearGradient id='my-gradient'%3E%3Cstop offset='20%25' stop-color='%23ff0000' /%3E%3Cstop offset='50%25' stop-color='%23ff8c00' /%3E%3Cstop offset='80%25' stop-color='%23ffd700' /%3E%3C/linearGradient%3E%3C/defs%3E%3Ccircle r='1' cx='1' cy='1' fill='url(%23my-gradient)' /%3E%3C/svg%3E") no-repeat;  
            animation: shootingStar 5s linear infinite;
            opacity: 0;
            z-index: 2;
        }

        .navbar:before {
            animation-delay: 10s, 20s, 30s;
        }

        .navbar a {
            font-family: 'Orbitron', sans-serif;
            font-size: 20px;
            color: white;
            text-decoration: none;
            padding: 10px;
            position: relative;
            text-shadow: 0 0 5px #734b6d, 0 0 10px #734b6d, 0 0 15px #734b6d, 0 0 20px #734b6d;
            transition: color .5s;
            z-index: 3;
        }

        .navbar a:before, .navbar a:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            background: linear-gradient(to left, #ff8c00,  #ff0080, #40e0d0);
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.6s ease-in;
            z-index: 3;
        }

        .navbar a:after {
            filter: blur(5px);
        }

        .navbar a:hover:before, .navbar a:hover:after {
            transform: scaleX(1);
            transform-origin: left;
        }

        .navbar a:hover {
            color: #fff;
        }

        @keyframes Gradient {
            0% {background-position: 0% 50%}
            50% {background-position: 100% 50%}
            100% {background-position: 0% 50%}
        }

        @keyframes stars {
            from {background-position: 0px 0px, 0px 0px, 0px 0px;}
            to {background-position: 500px 500px, 400px 400px, 300px 300px;}
        }

        @keyframes shootingStar {
            0% {
                background-position: 100% 0%;
                opacity: 1;
            }
            5% {
                background-position: 70% 20%;
                opacity: 0.8;
            }
            100% {
                background-position: 0% 100%;
                opacity: 0;
            }
        }

    </style>


<style>

movingthingy{
    background-repeat: repeat-x;
    animation: animatedBackground 15s linear alternate infinite;

}

@keyframes animatedBackground {
    0% { background-position: 0 0; }
    50% { background-position: 50% 0; }
    100% { background-position: 0 0; }
}

.flyinTxtCont {
	  height: 100%;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-orient: vertical;
	  -webkit-box-direction: normal;
	  -ms-flex-direction: column;
	  flex-direction: column;
	  -webkit-box-align: start;
	  -ms-flex-align: start;
	  align-items: flex-start;
	  -webkit-box-pack: end;
	  -ms-flex-pack: end;
	  justify-content: flex-end;
	  padding-bottom: 10%;
      margin-left: 2em;
}
.flyIn {
    color:#fff;
    font-family:'Raleway';
    text-transform:uppercase;
    line-height:1.2em;
    position:relative;
	text-shadow: 2px 2px 40px rgba(0,0,0,0.7);
}
.lineOne {
	transition-delay:.2s; 
	transition:.4s ease in;
	animation: txtFlyIn .3s linear;
}
.lineTwo {
	  transition-delay:.4s; 
	  transition:.6s ease in;
	  animation: txtFlyIn .6s linear;
}
.lineThree {
	  transition-delay:.6s; 
	  transition:.8s ease in;
	  animation: txtFlyIn .9s linear;
}
.lineOne, .lineTwo, .lineThree {
	  font-size:110px;
	  font-weight: bold;
	  letter-spacing: 3px;
  }
.lineFour {
		transition-delay:2s; 
		transition:2s ease in;
		animation: fadeIn 2s linear;
		width: 100%;
		background-color:rgba(255,255,255,0.9);
		display:inline-block;
		color:#000;
		max-width:63%;
		max-width: 22em;
		font-size: 32px;
		padding: .2em .5em;
		margin-top: 30px;
}
@keyframes fadeIn{
    0% { opacity:0;}
    100% { opacity:1;}
}
@keyframes txtFlyIn{
    0% { transform:translateX(-100%); }
    100% { transform:translateX(0%); }
}

</style>

<title>Chatting Central</title>
<style>
    header {
        background-color: #f8f9fa;
        padding: 20px;
        text-align: center;
    }
    #services {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
    }
    .service-container {
    display: flex;
    flex-direction: row-reverse; /* This will align your service boxes to the right side */
    justify-content: space-around;
    margin-top: 50px;
}


.service {
    text-align: center;
    flex: 1 0 auto; /* This will allow your service boxes to grow and shrink as needed */
}

.service img {
    width: 100px;
    height: 100px;
}

a
{
    color:white
}

    button {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    h2
    {
        color:white;
    }
    
    h3
    {
        color:white;
    }
    p{
        color:white;
    }
    .outlined-svg {
    filter: drop-shadow(0px 0px 3px white);
}
</style>
<style>
.chat-animation-container {
    display: flex;
    justify-content: space-between;
    padding: 150px;
}
</style>
</head>
<body>
    <div class="navbar">
        <div class="shooting-star"></div>
        <a href="/home">Home</a>
        <a href="/news">News</a>
        <a href="/chat">Chat</a>
        <a href="/videochathub">Video Chat</a>
    </div> 

    <main>
        <div class="chat-animation-container">
        <section id="intro">
            <div class="movingthingy">
                <div class="flyinTxtCont">
                <div class="flyIn lineOne">Chatting</div>
                <div class="flyIn lineTwo">Without </div>
                <div class="flyIn lineThree">the fuss</div>
                  <div class="flyIn lineFour">Privacy Focused. Easy. Quick.</div>
                </div>
                </div>
        </section>
        
        <section id="services" class="service-container">
            <div class="service">
                <img class="outlined-svg" src="videocall.svg" alt="Video Chat Icon">
                <h3>Video Chatting</h3>
                <p>Experience high-quality video calls with your friends and family, no matter where you are.</p>
                <button><a href="/videochathub" class="button">Start/Join a Video Chat</a></button>
            </div>

            <div class="service">
                <img class="outlined-svg" src="textchat.svg" alt="Text Chat Icon">
                <h3>Text Chatting</h3>
                <p>Send instant messages,privately, anywhere and anytime.ㅤㅤ</p>
                <button><a href="/chat" class="button">Join a Chat Room</a></button>
            </div>
        </section>
    </div>
    </main>



    <footer>
       
    </footer>
</body>
</html>
